@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import 'base/variables';
@import 'libs/bootstrap-reboot.min';

*{
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width:1140px;
    margin:0 auto;
}

@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/buttons';
@import 'blocks/scheme';
@import 'blocks/advantages';
@import 'blocks/decision';
@import 'blocks/variants';

@import 'blocks/media';


