.button{
    width: 241px;
    height: 60px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.07);
    background-color:$main-color;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    border-radius:5px;
    border:none;
}