@media (max-width:1200px){
    .container{
        max-width:960px;
    }
    .header{
        &-block__adress, &-block__link{
            font-size: 11px;
        }
    }
    .promo{
     min-height:$width1;
        &__title{
            font-size: 36px;
        }
        &__subtitle{
            font-size: 22px;
        }
        &__wrapper{
            grid-template-rows: 65px 477px;
        }
        &__img{
            height:100%;
            img{
                height:100%;
            }
        }
        &__slider-nav{
            bottom:30px;            
        }
        &__slide{
            height: $width1;
            img{
                height:100%;
                width:100%;
            }
        }
    }
    .scheme{
        &__questions, &__answers{
            column-gap:15px;
        }
        &-block{
            padding: 0 30px 0 30px;
        }
    }
    .advantages{
        &-block{
            &__descr{
                padding:40px 70px;
            }
        }
    }
    .decision{
        padding:79px 0 61px 0;
    }
    .variants{
        min-height:unset;
        &__wrapper{
            grid-template-rows: 480px;
        }
        &-block{
            &:nth-child(1){
                .variants-block__wrapper{
                    &:before{
                        left:265px;
                    }
                }
           }
        }
    }
}
@media (max-width:992px){
     .container{
        max-width:720px;
    }
    .header{
        &-block__adress{
            display: none;
        }
        &-block__link{
            font-size: 10px;
        }
    }
    .promo{
        min-height:$width2;
        &__wrapper{
            grid-template-columns: 1fr 2fr;
            grid-template-rows: 65px 450px;
        }
        &__titles{
            grid-column:1/3;
            grid-row:2/3;
        }
        &__title{
            margin-top: 50px;
        }
        &__img{
            display:none;
        }
        &__slide{
            height:$width2;
        }
    }
    .scheme{
        &-block{
            padding:0 10px 0 10px;
            &__descr, &__subtitle{
                font-size: 15px;
            }
        }
    }
    .advantages{
        &__wrapper{
            grid-template-columns: 0.8fr;
            justify-content: center;
        }
    }
    .decision{
        min-height: unset;
        &__tabs{
            width:720px;
        }
        &__link{
            padding: 14px 17px;
        }
        &__img{
            width:663px;
        }
        &__slider-item{
            width:487px;
            top:27px;
            img{
                width:100%;
            }
        }
    }
    .variants{
        &__wrapper{
            grid-template-rows: 380px;
        }
        &-block{
            &__wrapper{
                margin-top: 60px;
            }
            &:nth-child(1){
                padding-right: 30px;
                .variants-block__wrapper{
                    &:before{
                        left:175px;
                    }
                }
            }
            &:nth-child(2){
                padding-left: 30px;
                .variants-block__wrapper{
                    &:before{
                        left:-15px;
                    }
                }
            }
            &__descr{
                font-size: 14px;
            }
            &__subtitle{
                font-size: 20px;
            }
        }
    }
}
@media (max-width:768px){
    .container{
        max-width:540px;
    }
    .header{
            display:none;
        
    }
    .promo{
        min-height:100vh;
        padding-top: 0;
        &__wrapper{
            padding-top: 50px;
        }
        &__slider-nav{
            display: none;
        }
        &__fix-menu{
            display:block;
            width:100%;
            background-color:$main-color;
            height:30px;
            position:fixed;
            z-index: 9999;
            top:0;
        }
        &__hamburger{
            position:absolute;
            top:50%;
            transform:translateY(-50%);
            right:10px;
            width:25px;
            
            span{
                width:100%;
                background-color:#fff;
                height:2px;
                display: block;
                margin-bottom: 5px;
                
                &:last-child{
                    margin-bottom: 0;
                }
            }
            &_active{
               
                span{
                    transition: all 0.5s;
                    margin-bottom: -2px;
                    &:nth-child(1){
                        transform: translateY(1px) rotate(-45deg);
                    }
                    &:nth-child(2){
                        display: none;
                    }
                    &:nth-child(3){
                        transform: translateY(1px) rotate(45deg);
                    }
                }
            }
        }
        &__menu{
            width:50%;
            height:100vh;
            position:fixed;
            top:0;
            left:-100%;
            background-color:rgba(51,51,51,0.8);
            transition: all 1s;
            z-index:9999;
            &_active{
                left:0;
                
            }
        }
        &__list{
            flex-direction:column;
            margin-top: 150px;
            padding-left: 60px;
        }
        &__link{
            font-size: 20px;
        }
        &__item{
            margin-bottom: 20px;
            width:100px;
            position: relative;
            &:before{
                content:'';
                display: block;
                width:15px;
                height:15px;
                border-radius:50%;
                border:1px solid #fff;
                position:absolute;
                left:-30px;
                top:5px;
            }
        }
        &__title, &__subtitle{
            text-align: center;
        }
        &__button{
            margin:100px auto 0 auto;
            display: block;
        }
        &__slide{
            height:100vh;
        }
    }
    .scheme{
        padding:40px 0;
        &__questions, &__answers{
            grid-template-columns: repeat(2, 1fr);
            row-gap: 15px;

        }
        &-block{
            &:nth-child(3){
                grid-column:1/3;
                width:calc(50% - 7.5px);
                margin: 0 auto;
            }
        }
    }
    .advantages{
        padding:40px 0;
        &__wrapper{
            grid-template-columns: 1fr;
        }
    }
    .decision{
        &__title{
            font-size: 26px;
        }
        &__tabs{
            width:540px;
        }
        &__img{
            width:530px;
        }
        &__link{
            padding:10px 8px;
            font-size: 12px;
        }
        &__slider-item{
            width:390px;
            top:20px;
        }
        &__slider-right, &__slider-left{
            display: none;
        }
    }
    .variants{
        background:url(../img/variants/1.jpg)center center / cover no-repeat;
        padding:40px 0 80px 0;
        &__wrapper{
           grid-template-columns: 1fr;
           grid-template-rows: auto;
           row-gap: 100px;
        }
        &-block{
            &:nth-child(1){
                padding-left: 30px;
                .variants-block__subtitle{
                    text-align: left;
                }
                .variants-block__descr{
                    text-align: left;
                }
                .variants-block__wrapper{
                    &:before{
                        left:-15px;
                    }
                }
            }
        }
    }

}
@media (max-width:576px){
    .container{
        width:100%;
        padding:0 10px;
    }
    .promo{
        &__title{
            margin-top: 20px;
            font-size: 30px;
        }
        &__subtitle{
            font-size: 20px;
        }
        &__menu{
            width:70%;
        }
        &__list{
            padding-left: 50px;
        }
        &__link{
            font-size: 18px;
        }
    }
    .scheme{
        &__questions, &__answers{
            grid-template-columns: 1fr;
        }
        &-block{
            padding:0 40px;
            &:nth-child(3){
                grid-column: unset;
                width:100%;
            }
        }
    }
    .advantages{
        &__title{
            font-size: 24px;
        }
        &-block{
            &__img{
                object-fit: cover;
            }
            &__descr{
                font-size: 18px;
                padding:30px;
            }
        }
    }
    .decision{
        padding:40px 0;
        &__tabs{
            width:100%;
            justify-content: space-around;
           
        }
        &__link{
            padding:6px;
            border-right:none;
            span{
                display:none;
            }
           
        }
        &__img{
           /* display: none; */
           width:100%;
        }
        &__slider-item{
            width:74%;
            top:6.5%
           
        }
    }
    .variants{
        &__title{
            font-size: 24px;
        }
        &__wrapper{
            row-gap: 40px;
        }
    }
}